<div layout="column" flex>

    <!--secondry buttons-->
    <div layout="row" class="bordered">
        <div layout="row" flex layout-align="space-between none">

            <div flex>
                <!--------- Primary Add, Delete All and Generate Buttons  --------->
                <md-button ng-click="toggle_spy()" class="md-icon-button md-accent md-hue-3" ng-class="myVar" aria-label="Start spy">
                    <i class="material-icons">highlight</i>
                    <md-tooltip md-direction="top">Object Spy</md-tooltip>
                </md-button>
                <input class="ng-hide" id="input-file-id" multiple type="file" custom-on-change="uploadFile" />
                <label for="input-file-id" class="md-button md-icon-button md-accent">
                    <i class="material-icons">add_circle_outline</i>
                    <md-tooltip md-direction="top">Upload images</md-tooltip>
                </label>
                <md-button class="md-raised md-accent" ng-click="shuffle()">Shuffle</md-button>
            </div>
            <div flex="50" layout="row" layout-align="end center">
                <div layout="row" flex layout-align="space-around center">
                    <div layout="row" layout-align="start center">
                        <input type="text" class="form-control" placeholder="Video Name" aria-describedby="Video Name" ng-model="video.name">
                    </div>
                    <div>
                        <md-menu>
                            <md-button ng-click="openMenu($mdMenu, $event)" class="md-icon-button md-accent" aria-label="choose Music">
                                <i class="material-icons">music_video</i>
                                <md-tooltip md-direction="top">Add music</md-tooltip>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-disabled="true">
                                        Jazz
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item ng-repeat="item in ['Jazz1','Jazz2', 'Jazz3']">
                                    <md-button ng-click="setAudio($index, 'Jazz')">
                                        Option {{item}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="true">
                                        Rock
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item ng-repeat="item in ['Rock1','Rock2', 'Rock3']">
                                    <md-button ng-click="setAudio($index, 'Rock')">
                                        Option {{item}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                            </md-menu-content>

                        </md-menu>
                        <span>{{video.audio}}</span>
                    </div>
                    <md-button class="md-raised md-accent" ng-disabled="slides.length == 0" ng-click="showConfirmGenerateVideo($event)">Generate</md-button>
                </div>
            </div>
        </div>
    </div>
    <!--    studio-->
    <div layout="row" flex>
        <div layout="column" flex="15">
            <md-subheader class="md-primary"><i>Sentences Repository</i></md-subheader>
            <div layout="column" flex layout-margin>

                <div ng-repeat="sen in sentencesRepo" layout="row" layout-align="start center" style="text-overflow: ellipsis;overflow: hidden;cursor: default;
            border-radius: 16px;
            display: block;
            height: 32px;
            line-height: 32px;
            margin: 8px 8px 0 0;
            padding: 0 12px;
            float: left;
            box-sizing: border-box;
            max-width: 100%;
            position: relative;
            padding-right: 22px;
            background: rgb(224,224,224);
            color: rgb(66,66,66);
            font-family: Roboto,Helvetica Neue,sans-serif;
            font-size: 16px;
            white-space: nowrap;cursor: move" ng-drag="true" ng-drag-data="sen" data-allow-transform="true">
                    <div style="display: block;
                            float: left;
                            white-space: nowrap;
                            max-width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding-right: 4px;
                            line-height: 32px;
                            font-size: 16px;">
                        {{sen}}
                    </div>
                    <div style="position: absolute;
                            right: 0;
                            line-height: 22px;font-size: 16px;">
                        <button ng-click="removeSentenceFromRepo($index)" aria-label="Start spy" style="text-align: center;
    width: 32px;
    height: 32px;
    min-width: 0;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    position: relative;">
                            <i class="material-icons" style="vertical-align: middle;">close</i>
                            <!--                        <md-tooltip md-direction="top">Object Spy</md-tooltip>-->
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" flex>
            <md-sidenav flex="25" md-is-locked-open="true" class="md-whiteframe-4dp slide" flex>

                <md-subheader class="md-primary"><i>Video Slides</i></md-subheader>
                <md-list flex ng-class="{'bordered': slides.length > 0}" style="padding:0;">
                    <!----------------Slides in the side List ----------------->

                    <div ng-repeat="item in slides" class="repeated-item" ng-drop="item.type==0" ng-drop-success="onDropComplete($data,$event)">
                        <md-list-item ng-click="goToSlideDetails($index, item.type)" layout="row" ng-class="{'selectedIndex': selectedIndex==$index, 'md-2-line': item.type == 0, 'md-offset': item.type == 1}">
                            <div flex="70" layout="row">
                                <img ng-show="item.type==0" ng-src={{item.thumbnail}} class="md-avatar" alt="Blend" />
                                <div ng-show="item.type==0" class="md-list-item-text">
                                    <h3>{{item.caption.text}}</h3>
                                </div>
                                <span ng-show="item.type==1">Transition</span>
                            </div>

                            <!--------- Up, Down and Delete buttons---------------->

                            <div flex="30" layout="row" layout-align="none" ng-show="item.type==0">
                                <div>
                                    <md-button ng-click="moveUpItem($index)" class="md-icon-button md-accent md-hue-2" aria-label="moveUpItem" ng-disabled="$first">
                                        <i class="material-icons">keyboard_arrow_up</i>
                                    </md-button>
                                    <md-button ng-click="moveDownItem($index)" class="md-icon-button md-accent md-hue-2" aria-label="moveDownItem" ng-disabled="$last">
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </md-button>
                                </div>
                                <div layout="row" layout-align="center center">
                                    <md-button ng-click="removeItem($index)" class="md-icon-button md-warn md-hue-1" aria-label="removeItem">
                                        <i class="material-icons">delete</i>
                                        <md-tooltip md-direction="right">Remove slide</md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                </md-list>
            </md-sidenav>
            <div layout="column" flex>
                <!-- Our unnamed main ui-view for slides details -->
                <md-content flex ui-view class="slide md-whiteframe-4dp" layout="column"></md-content>
            </div>
        </div>
    </div>
</div>
