<md-card flex>
    <md-card-content flex="95" layout="column" layout-margin layout-padding layout-align="space-between none">

        <!------------ Caption ---------------->

        <div flex="50" layout="row" layout-padding layout-align="start none" class="md-inline-form">

            <!--------  Text Box   -------->
            <md-content flex="60" layout-padding style="background-color:white;border:1px solid rgba(0,0,0,.1)">
                <md-input-container class="md-block">
                    <label>Caption</label>
                    <textarea ng-model="item.caption.text" md-select-on-focus rows="2"></textarea>
                </md-input-container>
            </md-content>
            <!--------  Text Buttons   -------->
            <md-content flex="40" layout="column" layout-align="space-between start" style="background-color:white;">
                <div layout="column" layout-align="start start">
                    <div layout="row">
                        <md-input-container>
                            <label>Font</label>
                            <md-select ng-model="item.caption.font" placeholder="Font" class="md-no-underline">
                                <md-option ng-repeat="font in fontList" value={{font}}><em>{{font}}</em></md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <label>Size</label>
                            <md-select ng-model="item.caption.fontsize" class="md-no-underline">
                                <md-option ng-repeat="size in fontSizeList" value={{size}}><em>{{size}}</em></md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-button ng-class="{'md-icon-button md-accent': true, 'md-hue-3': !item.caption.bold}" aria-label="format_bold" ng-click="item.caption.bold=!item.caption.bold">
                            <i class="material-icons">format_bold</i>
                        </md-button>
                        <md-button ng-class="{'md-icon-button md-accent': true, 'md-hue-3': !item.caption.italic}" aria-label="format_italic" ng-click="item.caption.italic=!item.caption.italic">
                            <i class="material-icons">format_italic</i>
                        </md-button>
                    </div>
                </div>


                <md-input-container style="min-width: 150px;">
                    <label>Overlay Effect</label>
                    <md-select ng-model="item.caption.effect" placeholder="Overlay Effect">
                        <md-option value=0><em>None</em></md-option>
                        <md-option value=1><em>Sliding Right</em></md-option>
                        <md-option value=2><em>Fade In Out</em></md-option>
                        <md-option value=3><em>Rolling</em></md-option>
                    </md-select>
                </md-input-container>

            </md-content>

        </div>

        <!------------- Image ------------------------>
        <div flex="50" layout-padding layout="row">

            <!--- image preview -->
            <div flex="50" layout="row" layout-align="center center" style="background-color:white;border:1px solid rgba(0,0,0,.1)">
                <img ng-src={{item.thumbnail}} style="max-width:100%;max-height:100%;">
            </div>
            <!--            image options-->
            <md-content flex="50" layout="column" layout-align="space-between none" style="background-color:white;">
                   <div layout="row" layout-align="start none">
                    <md-input-container style="min-width: 150px;">
                        <label>Image Effect</label>
                        <md-select ng-model="item.zoom.style" placeholder="Overlay Effect">
                            <md-option value=-1><em>None</em></md-option>
                            <md-option value=0><em>Zoom to Center</em></md-option>
                            <md-option value=1><em>Zoom to random near center</em></md-option>
                            <md-option value=2><em>Sliding camera horizontally</em></md-option>
                        </md-select>
                    </md-input-container>
                    </div>
                    <md-slider-container flex>
                        <span>Slide Duration(sec)</span>
                        <md-slider flex min="0" max="20" ng-model="item.duration" aria-label="duration" id="duration-slider">
                        </md-slider>
                        <md-input-container style="min-width: 70px;">
                            <input flex type="number" ng-model="item.duration" aria-label="duration" aria-controls="duration-slider">
                        </md-input-container>
                    </md-slider-container>
                </md-content>
        </div>
    </md-card-content>
</md-card>
