<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sunsa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/icon.css" rel="stylesheet">

    <script type="text/javascript" src="javascripts/panel.index.js"></script>
    <script type="text/javascript" src="lib/jquery-2.2.0.min.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular-aria.min.js"></script>
    <script type="text/javascript" src="lib/angular-messages.min.js"></script>

    <script type="text/javascript" src="lib/angular-material.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui-router.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="lib/lodash.min.js"></script>
    <script type="text/javascript" src="lib/socket.io.slim.js"></script>

</head>

<body layout="column" ng-app="videoAutomation">

    <md-toolbar ng-controller="toolBarCtrl">
        <div class="md-toolbar-tools">
            <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="toggleLeft()">
                <i class="material-icons">menu</i>
                <md-tooltip>Menu</md-tooltip>
            </md-button>

            <div layout="row">
                <h2 id="icon" ng-click="goToHome()"><i>sunsa.pro</i></h2>
            </div>

            <div style="margin-left:15px" flex layout="row" layout-align="start end">
                <small><i>v 0.4.2</i></small>
            </div>
            <button id="start_spy">Start Spy</button>
            <button id="stop_spy">Stop Spy</button>
            <md-button aria-label="Notifications" class="md-icon-button" ng-ng-click="test()">
                <i class="material-icons">notifications</i>
                <md-tooltip>Notifications</md-tooltip>
            </md-button>

            <md-button aria-label="Account" class="md-icon-button">
                <i class="material-icons">account_circle</i>
                <md-tooltip>Account</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout="column" flex ui-view class="slide">
    </md-content>

</body>

</html>

<!--
<html>

<head>

</head>

<body>
    <h1 id="headline">The Panel</h1>
    <h2 id="h2">Debug</h2>

    <button id="start_spy">Start Spy</button>
    <button id="stop_spy">Stop Spy</button>
    <button id="import_elements_from_spy">Import elements from spy</button>
    <br>
    <br>
    
    <table id="myTable">
        <tr>
            <th>tag name</th>
            <th>inner html</th>
        </tr>
    </table>
    <br>
    <script src="panel.index.js"></script>
</body>

</html>
-->
